body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u2232 {
  position:absolute;
  left:596px;
  top:39px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u2233 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2235 {
  position:absolute;
  left:596px;
  top:39px;
  width:375px;
  height:40px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2237 {
  position:absolute;
  left:926px;
  top:51px;
  width:26px;
  height:17px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2239 {
  position:absolute;
  left:603px;
  top:54px;
  width:6px;
  height:8px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2241 {
  position:absolute;
  left:613px;
  top:54px;
  width:6px;
  height:8px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2243 {
  position:absolute;
  left:622px;
  top:54px;
  width:6px;
  height:8px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2245 {
  position:absolute;
  left:632px;
  top:54px;
  width:6px;
  height:8px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2247 {
  position:absolute;
  left:642px;
  top:54px;
  width:6px;
  height:8px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:931px;
  top:56px;
  width:17px;
  height:7px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2251 {
  position:absolute;
  left:952px;
  top:56px;
  width:4px;
  height:7px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2253 {
  position:absolute;
  left:696px;
  top:50px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2255 {
  position:absolute;
  left:805px;
  top:52px;
  width:78px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2257 {
  position:absolute;
  left:893px;
  top:51px;
  width:78px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2258 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:631px;
  top:248px;
  width:73px;
  height:42px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2261 {
  position:absolute;
  left:754px;
  top:248px;
  width:73px;
  height:42px;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2263 {
  position:absolute;
  left:631px;
  top:202px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2265 {
  position:absolute;
  left:631px;
  top:151px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2267 {
  position:absolute;
  left:631px;
  top:294px;
  width:38px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2269 {
  position:absolute;
  left:631px;
  top:342px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2270 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2271 {
  position:absolute;
  left:754px;
  top:196px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2273 {
  position:absolute;
  left:865px;
  top:288px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2275 {
  position:absolute;
  left:754px;
  top:145px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2277 {
  position:absolute;
  left:865px;
  top:337px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2279 {
  position:absolute;
  left:865px;
  top:248px;
  width:73px;
  height:42px;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2281 {
  position:absolute;
  left:865px;
  top:196px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2283 {
  position:absolute;
  left:865px;
  top:145px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2284 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2285 {
  position:absolute;
  left:754px;
  top:290px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2286 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2287 {
  position:absolute;
  left:754px;
  top:341px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2288 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2289 {
  position:absolute;
  left:611px;
  top:93px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2291 {
  position:absolute;
  left:611px;
  top:418px;
  width:87px;
  height:54px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2293 {
  position:absolute;
  left:740px;
  top:418px;
  width:87px;
  height:54px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2295 {
  position:absolute;
  left:869px;
  top:418px;
  width:87px;
  height:54px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2297 {
  position:absolute;
  left:746px;
  top:93px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2299 {
  position:absolute;
  left:918px;
  top:91px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#009DDA;
}
#u2301 {
  position:absolute;
  left:648px;
  top:629px;
  width:258px;
  height:52px;
  font-size:18px;
  color:#009DDA;
}
#u2302 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2303 {
  position:absolute;
  left:676px;
  top:425px;
  width:15px;
  height:15px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2305 {
  position:absolute;
  left:933px;
  top:425px;
  width:15px;
  height:15px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2307 {
  position:absolute;
  left:805px;
  top:425px;
  width:15px;
  height:15px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u2309 {
  position:absolute;
  left:94px;
  top:41px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u2310 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2312 {
  position:absolute;
  left:94px;
  top:41px;
  width:375px;
  height:40px;
}
#u2313 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314 {
  position:absolute;
  left:424px;
  top:53px;
  width:26px;
  height:17px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2316 {
  position:absolute;
  left:101px;
  top:56px;
  width:6px;
  height:8px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2318 {
  position:absolute;
  left:111px;
  top:56px;
  width:6px;
  height:8px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2320 {
  position:absolute;
  left:120px;
  top:56px;
  width:6px;
  height:8px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2322 {
  position:absolute;
  left:130px;
  top:56px;
  width:6px;
  height:8px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2324 {
  position:absolute;
  left:140px;
  top:56px;
  width:6px;
  height:8px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2326 {
  position:absolute;
  left:429px;
  top:58px;
  width:17px;
  height:7px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  position:absolute;
  left:450px;
  top:58px;
  width:4px;
  height:7px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2330 {
  position:absolute;
  left:194px;
  top:52px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2332 {
  position:absolute;
  left:303px;
  top:54px;
  width:78px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2334 {
  position:absolute;
  left:391px;
  top:53px;
  width:78px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2337 {
  position:absolute;
  left:94px;
  top:638px;
  width:375px;
  height:70px;
  font-size:18px;
  color:#999999;
}
#u2338 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2340 {
  position:absolute;
  left:418px;
  top:644px;
  width:38px;
  height:38px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2342 {
  position:absolute;
  left:423px;
  top:687px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2345 {
  position:absolute;
  left:314px;
  top:644px;
  width:45px;
  height:45px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2347 {
  position:absolute;
  left:314px;
  top:687px;
  width:43px;
  height:16px;
  color:#000000;
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2350 {
  position:absolute;
  left:210px;
  top:644px;
  width:45px;
  height:45px;
}
#u2351 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2352 {
  position:absolute;
  left:215px;
  top:687px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2354 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2355 {
  position:absolute;
  left:106px;
  top:644px;
  width:45px;
  height:45px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2357 {
  position:absolute;
  left:114px;
  top:687px;
  width:29px;
  height:1px;
  color:#999999;
}
#u2358 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  position:absolute;
  left:129px;
  top:250px;
  width:73px;
  height:42px;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2361 {
  position:absolute;
  left:252px;
  top:250px;
  width:73px;
  height:42px;
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2363 {
  position:absolute;
  left:129px;
  top:204px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2364 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2365 {
  position:absolute;
  left:129px;
  top:153px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2366 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2367 {
  position:absolute;
  left:129px;
  top:296px;
  width:38px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2368 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2369 {
  position:absolute;
  left:129px;
  top:344px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2370 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2371 {
  position:absolute;
  left:252px;
  top:198px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2373 {
  position:absolute;
  left:363px;
  top:290px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2375 {
  position:absolute;
  left:252px;
  top:147px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2376 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2377 {
  position:absolute;
  left:363px;
  top:339px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2379 {
  position:absolute;
  left:363px;
  top:250px;
  width:73px;
  height:42px;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2381 {
  position:absolute;
  left:363px;
  top:198px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2383 {
  position:absolute;
  left:363px;
  top:147px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2385 {
  position:absolute;
  left:252px;
  top:292px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2386 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2387 {
  position:absolute;
  left:252px;
  top:343px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2389 {
  position:absolute;
  left:109px;
  top:95px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2392 {
  position:absolute;
  left:434px;
  top:106px;
  width:6px;
  height:6px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2394 {
  position:absolute;
  left:434px;
  top:115px;
  width:6px;
  height:6px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2396 {
  position:absolute;
  left:434px;
  top:97px;
  width:6px;
  height:6px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2398 {
  position:absolute;
  left:109px;
  top:420px;
  width:87px;
  height:54px;
}
#u2399 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2400 {
  position:absolute;
  left:238px;
  top:420px;
  width:87px;
  height:54px;
}
#u2401 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2402 {
  position:absolute;
  left:367px;
  top:420px;
  width:87px;
  height:54px;
}
#u2403 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2404 {
  position:absolute;
  left:109px;
  top:484px;
  width:87px;
  height:54px;
  font-size:28px;
}
#u2405 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u2406 {
  position:absolute;
  left:231px;
  top:545px;
  width:83px;
  height:83px;
  color:#009DDA;
}
#u2407 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u2408 {
  position:absolute;
  left:240px;
  top:554px;
  width:65px;
  height:65px;
}
#u2409 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u2410 {
  position:absolute;
  left:260px;
  top:570px;
  width:40px;
  height:34px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#009DDA;
}
#u2411 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2412 {
  position:absolute;
  left:201px;
  top:4px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2413 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2414 {
  position:absolute;
  left:94px;
  top:744px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2415 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2416 {
  position:absolute;
  left:650px;
  top:420px;
  width:94px;
  height:86px;
}
#u2417 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2418 {
  position:absolute;
  left:662px;
  top:506px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2419 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  position:absolute;
  left:358px;
  top:132px;
  width:106px;
  height:73px;
}
#u2421 {
  position:absolute;
  left:2px;
  top:28px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u2422 {
  position:absolute;
  left:364px;
  top:168px;
  width:96px;
  height:1px;
}
#u2423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2424 {
  position:absolute;
  left:397px;
  top:142px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2425 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2426 {
  position:absolute;
  left:396px;
  top:177px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2427 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2428 {
  position:absolute;
  left:419px;
  top:76px;
  width:94px;
  height:86px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u2429 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2430 {
  position:absolute;
  left:456px;
  top:148px;
  width:96px;
  height:21px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2431 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:288px;
}
#u2432 {
  position:absolute;
  left:94px;
  top:809px;
  width:535px;
  height:288px;
  font-size:20px;
}
#u2433 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u2434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2434 {
  position:absolute;
  left:730px;
  top:644px;
  width:94px;
  height:86px;
}
#u2435 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2436 {
  position:absolute;
  left:742px;
  top:730px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2437 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
}
#u2438 {
  position:absolute;
  left:658px;
  top:2px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u2439 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2440_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:204px;
  height:21px;
}
#u2440p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:196px;
  height:3px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u2440p000_img {
  position:absolute;
  left:-1px;
  top:-13px;
  width:206px;
  height:23px;
}
#u2440p001 {
  position:absolute;
  left:12px;
  top:-49px;
  width:2px;
  height:2px;
}
#u2440p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:22px;
}
#u2440p002 {
  position:absolute;
  left:166px;
  top:36px;
  width:22px;
  height:22px;
}
#u2440p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2440.compound {
  width:0px;
  height:0px;
}
#u2440 {
  position:absolute;
  left:426px;
  top:209px;
  width:194px;
  height:1px;
}
#u2441 {
  position:absolute;
  left:2px;
  top:-8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2442 {
  position:absolute;
  left:513px;
  top:202px;
  width:94px;
  height:86px;
}
#u2443 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2444 {
  position:absolute;
  left:525px;
  top:288px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2445 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
