body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u1196 {
  position:absolute;
  left:45px;
  top:49px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u1197 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1198 {
  position:absolute;
  left:45px;
  top:49px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#FFFFFF;
}
#u1199 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#FFFFFF;
}
#u1200 {
  position:absolute;
  left:107px;
  top:115px;
  width:253px;
  height:83px;
  font-size:72px;
  color:#FFFFFF;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1202 {
  position:absolute;
  left:146px;
  top:168px;
  width:158px;
  height:55px;
  color:#FFFFFF;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1204 {
  position:absolute;
  left:138px;
  top:349px;
  width:170px;
  height:170px;
  font-size:36px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:64px;
  width:166px;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  position:absolute;
  left:177px;
  top:621px;
  width:99px;
  height:34px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u1208 {
  position:absolute;
  left:45px;
  top:891px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u1209 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u1210 {
  position:absolute;
  left:45px;
  top:891px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u1211 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#FFFFFF;
}
#u1212 {
  position:absolute;
  left:107px;
  top:951px;
  width:253px;
  height:83px;
  font-size:72px;
  color:#FFFFFF;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1214 {
  position:absolute;
  left:143px;
  top:1004px;
  width:158px;
  height:83px;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1216 {
  position:absolute;
  left:137px;
  top:1208px;
  width:170px;
  height:170px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:36px;
  width:166px;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  position:absolute;
  left:170px;
  top:1463px;
  width:99px;
  height:34px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1221 {
  position:absolute;
  left:181px;
  top:1129px;
  width:130px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1223 {
  position:absolute;
  left:134px;
  top:1123px;
  width:35px;
  height:35px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1226 {
  position:absolute;
  left:181px;
  top:280px;
  width:130px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1228 {
  position:absolute;
  left:134px;
  top:274px;
  width:35px;
  height:35px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1230 {
  position:absolute;
  left:159px;
  top:1400px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1232 {
  position:absolute;
  left:159px;
  top:549px;
  width:138px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1234 {
  position:absolute;
  left:114px;
  top:2px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1236 {
  position:absolute;
  left:461px;
  top:839px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:674px;
}
#u1238 {
  position:absolute;
  left:463px;
  top:61px;
  width:533px;
  height:674px;
  font-size:20px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1240 {
  position:absolute;
  left:189px;
  top:240px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1242 {
  position:absolute;
  left:476px;
  top:2px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1244 {
  position:absolute;
  left:111px;
  top:827px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:504px;
}
#u1246 {
  position:absolute;
  left:461px;
  top:895px;
  width:535px;
  height:504px;
  font-size:20px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:105px;
}
#u1248 {
  position:absolute;
  left:337px;
  top:687px;
  width:109px;
  height:105px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:44px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1250 {
  position:absolute;
  left:368px;
  top:792px;
  width:176px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:143px;
  height:21px;
}
#u1252p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:135px;
  height:1px;
  -webkit-transform:rotate(83deg);
  -moz-transform:rotate(83deg);
  -ms-transform:rotate(83deg);
  transform:rotate(83deg);
}
#u1252p000_img {
  position:absolute;
  left:-4px;
  top:-15px;
  width:145px;
  height:21px;
}
#u1252p001 {
  position:absolute;
  left:57px;
  top:-67px;
  width:2px;
  height:2px;
}
#u1252p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:22px;
}
#u1252p002 {
  position:absolute;
  left:63px;
  top:52px;
  width:22px;
  height:22px;
}
#u1252p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1252.compound {
  width:0px;
  height:0px;
}
#u1252 {
  position:absolute;
  left:314px;
  top:635px;
  width:133px;
  height:1px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:81px;
}
#u1254 {
  position:absolute;
  left:195px;
  top:633px;
  width:91px;
  height:81px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:32px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1256 {
  position:absolute;
  left:195px;
  top:714px;
  width:93px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u1258 {
  position:absolute;
  left:173px;
  top:1477px;
  width:94px;
  height:86px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1260 {
  position:absolute;
  left:173px;
  top:1563px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:111px;
}
#u1262 {
  position:absolute;
  left:308px;
  top:1401px;
  width:115px;
  height:111px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:48px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:277px;
  top:1512px;
  width:175px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:81px;
}
#u1266 {
  position:absolute;
  left:193px;
  top:417px;
  width:91px;
  height:81px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:32px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1268 {
  position:absolute;
  left:193px;
  top:498px;
  width:93px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u1270 {
  position:absolute;
  left:114px;
  top:314px;
  width:241px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1272 {
  position:absolute;
  left:184px;
  top:1078px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u1274 {
  position:absolute;
  left:109px;
  top:1162px;
  width:241px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
