body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1682 {
  position:absolute;
  left:111px;
  top:59px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:120px;
}
#u1684 {
  position:absolute;
  left:111px;
  top:113px;
  width:696px;
  height:120px;
  font-size:20px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  word-wrap:break-word;
}
