body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u1890 {
  position:absolute;
  left:83px;
  top:37px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u1891 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1893 {
  position:absolute;
  left:83px;
  top:37px;
  width:375px;
  height:40px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:413px;
  top:49px;
  width:26px;
  height:17px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1897 {
  position:absolute;
  left:90px;
  top:52px;
  width:6px;
  height:8px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1899 {
  position:absolute;
  left:100px;
  top:52px;
  width:6px;
  height:8px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1901 {
  position:absolute;
  left:109px;
  top:52px;
  width:6px;
  height:8px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1903 {
  position:absolute;
  left:119px;
  top:52px;
  width:6px;
  height:8px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1905 {
  position:absolute;
  left:129px;
  top:52px;
  width:6px;
  height:8px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:418px;
  top:54px;
  width:17px;
  height:7px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1909 {
  position:absolute;
  left:439px;
  top:54px;
  width:4px;
  height:7px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1911 {
  position:absolute;
  left:183px;
  top:48px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1913 {
  position:absolute;
  left:292px;
  top:50px;
  width:78px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1915 {
  position:absolute;
  left:380px;
  top:49px;
  width:78px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1918 {
  position:absolute;
  left:83px;
  top:634px;
  width:375px;
  height:70px;
  font-size:18px;
  color:#999999;
}
#u1919 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1921 {
  position:absolute;
  left:407px;
  top:640px;
  width:38px;
  height:38px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1923 {
  position:absolute;
  left:412px;
  top:683px;
  width:29px;
  height:16px;
  color:#999999;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1926 {
  position:absolute;
  left:303px;
  top:640px;
  width:45px;
  height:45px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1928 {
  position:absolute;
  left:303px;
  top:683px;
  width:43px;
  height:16px;
  color:#000000;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1931 {
  position:absolute;
  left:199px;
  top:640px;
  width:45px;
  height:45px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1933 {
  position:absolute;
  left:204px;
  top:683px;
  width:29px;
  height:16px;
  color:#999999;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1936 {
  position:absolute;
  left:95px;
  top:640px;
  width:45px;
  height:45px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1938 {
  position:absolute;
  left:103px;
  top:683px;
  width:29px;
  height:1px;
  color:#999999;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:118px;
  top:246px;
  width:73px;
  height:42px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:241px;
  top:246px;
  width:73px;
  height:42px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u1944 {
  position:absolute;
  left:118px;
  top:200px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u1946 {
  position:absolute;
  left:118px;
  top:149px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u1948 {
  position:absolute;
  left:118px;
  top:292px;
  width:38px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u1950 {
  position:absolute;
  left:118px;
  top:340px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u1952 {
  position:absolute;
  left:241px;
  top:194px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u1954 {
  position:absolute;
  left:352px;
  top:286px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u1956 {
  position:absolute;
  left:241px;
  top:143px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u1958 {
  position:absolute;
  left:352px;
  top:335px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u1960 {
  position:absolute;
  left:352px;
  top:246px;
  width:73px;
  height:42px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u1962 {
  position:absolute;
  left:352px;
  top:194px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u1964 {
  position:absolute;
  left:352px;
  top:143px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u1966 {
  position:absolute;
  left:241px;
  top:288px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u1968 {
  position:absolute;
  left:241px;
  top:339px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1970 {
  position:absolute;
  left:98px;
  top:91px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1973 {
  position:absolute;
  left:423px;
  top:102px;
  width:6px;
  height:6px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1975 {
  position:absolute;
  left:423px;
  top:111px;
  width:6px;
  height:6px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1977 {
  position:absolute;
  left:423px;
  top:93px;
  width:6px;
  height:6px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u1979 {
  position:absolute;
  left:98px;
  top:416px;
  width:87px;
  height:54px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u1981 {
  position:absolute;
  left:227px;
  top:416px;
  width:87px;
  height:54px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u1983 {
  position:absolute;
  left:356px;
  top:416px;
  width:87px;
  height:54px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u1985 {
  position:absolute;
  left:98px;
  top:480px;
  width:87px;
  height:54px;
  font-size:28px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1987 {
  position:absolute;
  left:220px;
  top:541px;
  width:83px;
  height:83px;
  color:#009DDA;
}
#u1988 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1989 {
  position:absolute;
  left:229px;
  top:550px;
  width:65px;
  height:65px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u1991 {
  position:absolute;
  left:249px;
  top:566px;
  width:40px;
  height:34px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#009DDA;
}
#u1992 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1993 {
  position:absolute;
  left:526px;
  top:39px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:888px;
}
#u1995 {
  position:absolute;
  left:484px;
  top:93px;
  width:444px;
  height:888px;
  font-size:20px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u1997 {
  position:absolute;
  left:231px;
  top:576px;
  width:94px;
  height:86px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1999 {
  position:absolute;
  left:229px;
  top:662px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2001 {
  position:absolute;
  left:380px;
  top:440px;
  width:94px;
  height:86px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2003 {
  position:absolute;
  left:378px;
  top:526px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:52px;
}
#u2006 {
  position:absolute;
  left:93px;
  top:214px;
  width:22px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2007 {
  position:absolute;
  left:2px;
  top:18px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:64px;
}
#u2008 {
  position:absolute;
  left:43px;
  top:240px;
  width:79px;
  height:64px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2009 {
  position:absolute;
  left:2px;
  top:24px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:50px;
}
#u2010 {
  position:absolute;
  left:96px;
  top:270px;
  width:22px;
  height:50px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2012 {
  position:absolute;
  left:22px;
  top:322px;
  width:143px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:193px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:9.5999755859375px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2015 {
  position:absolute;
  left:535px;
  top:439px;
  width:276px;
  height:193px;
  font-size:18px;
  color:#999999;
}
#u2016 {
  position:absolute;
  left:2px;
  top:88px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u2017 {
  position:absolute;
  left:535px;
  top:587px;
  width:276px;
  height:1px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u2019 {
  position:absolute;
  left:673px;
  top:588px;
  width:1px;
  height:44px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2021 {
  position:absolute;
  left:659px;
  top:453px;
  width:49px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2023 {
  position:absolute;
  left:556px;
  top:503px;
  width:255px;
  height:44px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u2025 {
  position:absolute;
  left:721px;
  top:601px;
  width:52px;
  height:33px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2027 {
  position:absolute;
  left:573px;
  top:599px;
  width:78px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
