body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u2029 {
  position:absolute;
  left:615px;
  top:59px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u2030 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2032 {
  position:absolute;
  left:615px;
  top:59px;
  width:375px;
  height:40px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:945px;
  top:71px;
  width:26px;
  height:17px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2036 {
  position:absolute;
  left:622px;
  top:74px;
  width:6px;
  height:8px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2038 {
  position:absolute;
  left:632px;
  top:74px;
  width:6px;
  height:8px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2040 {
  position:absolute;
  left:641px;
  top:74px;
  width:6px;
  height:8px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2042 {
  position:absolute;
  left:651px;
  top:74px;
  width:6px;
  height:8px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2044 {
  position:absolute;
  left:661px;
  top:74px;
  width:6px;
  height:8px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  position:absolute;
  left:950px;
  top:76px;
  width:17px;
  height:7px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:971px;
  top:76px;
  width:4px;
  height:7px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2050 {
  position:absolute;
  left:715px;
  top:70px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2052 {
  position:absolute;
  left:824px;
  top:72px;
  width:78px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2054 {
  position:absolute;
  left:912px;
  top:71px;
  width:78px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:650px;
  top:268px;
  width:73px;
  height:42px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2058 {
  position:absolute;
  left:773px;
  top:268px;
  width:73px;
  height:42px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2060 {
  position:absolute;
  left:650px;
  top:222px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2062 {
  position:absolute;
  left:650px;
  top:171px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2064 {
  position:absolute;
  left:650px;
  top:314px;
  width:38px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2066 {
  position:absolute;
  left:650px;
  top:362px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2068 {
  position:absolute;
  left:773px;
  top:216px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2070 {
  position:absolute;
  left:884px;
  top:308px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2072 {
  position:absolute;
  left:773px;
  top:165px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2074 {
  position:absolute;
  left:884px;
  top:357px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2076 {
  position:absolute;
  left:884px;
  top:268px;
  width:73px;
  height:42px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2078 {
  position:absolute;
  left:884px;
  top:216px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2080 {
  position:absolute;
  left:884px;
  top:165px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2082 {
  position:absolute;
  left:773px;
  top:310px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2084 {
  position:absolute;
  left:773px;
  top:361px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2086 {
  position:absolute;
  left:763px;
  top:109px;
  width:101px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2088 {
  position:absolute;
  left:630px;
  top:109px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2090 {
  position:absolute;
  left:933px;
  top:112px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009DDA;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2092 {
  position:absolute;
  left:632px;
  top:463px;
  width:335px;
  height:1px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2094 {
  position:absolute;
  left:634px;
  top:442px;
  width:113px;
  height:16px;
  color:#999999;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
}
#u2096 {
  position:absolute;
  left:615px;
  top:497px;
  width:375px;
  height:229px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:106px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2098 {
  position:absolute;
  left:661px;
  top:12px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u2100 {
  position:absolute;
  left:141px;
  top:59px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u2101 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2103 {
  position:absolute;
  left:141px;
  top:59px;
  width:375px;
  height:40px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  position:absolute;
  left:471px;
  top:71px;
  width:26px;
  height:17px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2107 {
  position:absolute;
  left:148px;
  top:74px;
  width:6px;
  height:8px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2109 {
  position:absolute;
  left:158px;
  top:74px;
  width:6px;
  height:8px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2111 {
  position:absolute;
  left:167px;
  top:74px;
  width:6px;
  height:8px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2113 {
  position:absolute;
  left:177px;
  top:74px;
  width:6px;
  height:8px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u2115 {
  position:absolute;
  left:187px;
  top:74px;
  width:6px;
  height:8px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:476px;
  top:76px;
  width:17px;
  height:7px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:497px;
  top:76px;
  width:4px;
  height:7px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2121 {
  position:absolute;
  left:241px;
  top:70px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2123 {
  position:absolute;
  left:350px;
  top:72px;
  width:78px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2125 {
  position:absolute;
  left:438px;
  top:71px;
  width:78px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2128 {
  position:absolute;
  left:141px;
  top:656px;
  width:375px;
  height:70px;
  font-size:18px;
  color:#999999;
}
#u2129 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2131 {
  position:absolute;
  left:465px;
  top:662px;
  width:38px;
  height:38px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2133 {
  position:absolute;
  left:470px;
  top:705px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2136 {
  position:absolute;
  left:361px;
  top:662px;
  width:45px;
  height:45px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2138 {
  position:absolute;
  left:361px;
  top:705px;
  width:43px;
  height:16px;
  color:#000000;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2141 {
  position:absolute;
  left:257px;
  top:662px;
  width:45px;
  height:45px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2143 {
  position:absolute;
  left:262px;
  top:705px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2146 {
  position:absolute;
  left:153px;
  top:662px;
  width:45px;
  height:45px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2148 {
  position:absolute;
  left:161px;
  top:705px;
  width:29px;
  height:1px;
  color:#999999;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:176px;
  top:268px;
  width:73px;
  height:42px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:299px;
  top:268px;
  width:73px;
  height:42px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2154 {
  position:absolute;
  left:176px;
  top:222px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2156 {
  position:absolute;
  left:176px;
  top:171px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2158 {
  position:absolute;
  left:176px;
  top:314px;
  width:38px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2160 {
  position:absolute;
  left:176px;
  top:362px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2162 {
  position:absolute;
  left:299px;
  top:216px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2164 {
  position:absolute;
  left:410px;
  top:308px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2166 {
  position:absolute;
  left:299px;
  top:165px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2168 {
  position:absolute;
  left:410px;
  top:357px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2170 {
  position:absolute;
  left:410px;
  top:268px;
  width:73px;
  height:42px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2172 {
  position:absolute;
  left:410px;
  top:216px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2174 {
  position:absolute;
  left:410px;
  top:165px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#AEAEAE;
}
#u2176 {
  position:absolute;
  left:299px;
  top:310px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#AEAEAE;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#D7D7D7;
}
#u2178 {
  position:absolute;
  left:299px;
  top:361px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#D7D7D7;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2180 {
  position:absolute;
  left:156px;
  top:113px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2183 {
  position:absolute;
  left:481px;
  top:124px;
  width:6px;
  height:6px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2185 {
  position:absolute;
  left:481px;
  top:133px;
  width:6px;
  height:6px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2187 {
  position:absolute;
  left:481px;
  top:115px;
  width:6px;
  height:6px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2189 {
  position:absolute;
  left:156px;
  top:438px;
  width:87px;
  height:54px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2191 {
  position:absolute;
  left:285px;
  top:438px;
  width:87px;
  height:54px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2193 {
  position:absolute;
  left:414px;
  top:438px;
  width:87px;
  height:54px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u2195 {
  position:absolute;
  left:156px;
  top:502px;
  width:87px;
  height:54px;
  font-size:28px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u2197 {
  position:absolute;
  left:278px;
  top:563px;
  width:83px;
  height:83px;
  color:#009DDA;
}
#u2198 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u2199 {
  position:absolute;
  left:287px;
  top:572px;
  width:65px;
  height:65px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u2201 {
  position:absolute;
  left:307px;
  top:588px;
  width:40px;
  height:34px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#009DDA;
}
#u2202 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2203 {
  position:absolute;
  left:248px;
  top:22px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2205 {
  position:absolute;
  left:141px;
  top:772px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:384px;
}
#u2207 {
  position:absolute;
  left:132px;
  top:845px;
  width:535px;
  height:384px;
  font-size:20px;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2209 {
  position:absolute;
  left:925px;
  top:115px;
  width:94px;
  height:86px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2211 {
  position:absolute;
  left:937px;
  top:201px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2213 {
  position:absolute;
  left:600px;
  top:106px;
  width:94px;
  height:86px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2215 {
  position:absolute;
  left:612px;
  top:192px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:86px;
}
#u2217 {
  position:absolute;
  left:524px;
  top:463px;
  width:94px;
  height:86px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2219 {
  position:absolute;
  left:536px;
  top:549px;
  width:96px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:52px;
}
#u2222 {
  position:absolute;
  left:614px;
  top:240px;
  width:22px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2223 {
  position:absolute;
  left:2px;
  top:18px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:64px;
}
#u2224 {
  position:absolute;
  left:564px;
  top:266px;
  width:79px;
  height:64px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2225 {
  position:absolute;
  left:2px;
  top:24px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:50px;
}
#u2226 {
  position:absolute;
  left:617px;
  top:296px;
  width:22px;
  height:50px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2228 {
  position:absolute;
  left:543px;
  top:348px;
  width:143px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:415px;
  height:21px;
}
#u2230p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:407px;
  height:3px;
  -webkit-transform:rotate(-9deg);
  -moz-transform:rotate(-9deg);
  -ms-transform:rotate(-9deg);
  transform:rotate(-9deg);
}
#u2230p000_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:417px;
  height:23px;
}
#u2230p001 {
  position:absolute;
  left:1px;
  top:31px;
  width:2px;
  height:2px;
}
#u2230p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:22px;
}
#u2230p002 {
  position:absolute;
  left:388px;
  top:-42px;
  width:22px;
  height:22px;
}
#u2230p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2230.compound {
  width:0px;
  height:0px;
}
#u2230 {
  position:absolute;
  left:235px;
  top:505px;
  width:405px;
  height:1px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:-8px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
